.main-content{
    background-color: rgb(255, 174, 174);
    border-radius: 3rem;
    box-shadow: 10px -10px rgb(119, 21, 21);
    margin: 2rem;
    padding: 2em 0;
}
.div-lg{
    font-family: Rubik Vinyl, sans-serif;
    color: rgb(119, 21, 21);
    background-color: rgb(255, 174, 174);
    margin: 1rem;
}
.h2-md-task{
    color: #a02828;
}
#textarea-tasks{
    font-size: 1.2em;
    font-weight: bold;
    resize: none;
    overflow: auto;
    color: #312f2f;
    background-color: rgb(253, 191, 191);
    border: 2px solid rgb(253, 191, 191);
    height: auto;
}
.div-lg-task-container{
    background-color: rgb(253, 191, 191);
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgb(119, 21, 21);
    border-radius: 10px;
}
.div-lg-task-container .div-md-task-buttons .div-md-button .btn-add{
    background-color: rgb(253, 191, 191);
    color: rgb(119, 21, 21);
    border: 1px solid rgb(119, 21, 21);
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 0.5em;
}
.div-lg-task-container .div-md-task-buttons .div-md-button .btn-add:hover{
    background-color: rgb(119, 21, 21);
    color: white;
    border: 1px solid rgb(119, 21, 21);
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 0.5em;
}
.div-lg-task-container .div-md-task-buttons .div-md-button .btn-add:active{
    transform: scale(0.9);
    transition: transform 0.3s ease;
}
.div-lg-task-container .div-md-task-buttons .form-check-priority input{
    background-color: rgb(255, 243, 243);
    width: 2.2em;
    height: 1.2em;
    margin-left: 0em;
}
.div-lg-task-container .div-md-task-buttons .form-check-priority input:checked{
    background-color: rgb(119, 21, 21);
}


/* Para un posible componente adicional */
.ul-secondary ul li, .ul-priority ul li{
    list-style-type: none;
    line-height: 1.8;
}
.ul-secondary ul li .form-check-both:checked,
.ul-primary ul li .form-check-both:checked{
    background-color: rgb(119, 21, 21);
}
.ul-secondary ul .li-md-empty-task{
    color: rgb(0, 0, 0, 0.4);
}