.card-single-task{
    background-color: rgba(255, 82, 82, 0.2);
}
.btn-task-modify, .btn-task-delete{
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.card-single-task .row-options:hover .btn-task-modify, .card-single-task .row-options:hover .btn-task-delete{
    opacity: 1;
    transform: translateY(0);
}
.col-text-options{
    font-size: 0.7em;
    opacity: 0.6;
    cursor: pointer;
}
.card-single-task input:checked{
    background-color: rgb(119, 21, 21);
    border-color: rgb(119, 21, 21, 0.5);
}
.card-single-task input{
    cursor: pointer;
}